*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --a:80px;
    --b:calc(2*var(--a));
    --c:calc(3*var(--a));
}
body{
    background-color: turquoise;
}
.my-header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 3fr 1fr 1fr;
}
.my-header .my-logo{
    height: var(--a);
    border: 1px solid black;
    background:url(images/logo-1.png);
    background-size: contain;
    background-color: turquoise;
}

.my-header .my-title{
    height: var(--a);
    border: 1px solid black;

}

.my-header .my-fav{
    height: var(--a);
    border: 1px solid black;

}

.my-header .my-search {
    height: var(--a);
    border: 1px solid black;

}

.my-header .my-search .placeicon{
    font-family: fontawesome;

}

.my-header .my-bell {
    height: var(--a);
    border: 1px solid black;
}

.my-header .my-dp{
    height: var(--a);
    border: 1px solid black;
    
}