/*
font-family: 'Cabin', sans-serif; 
 */


 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --a:80px;
    --b:calc(2*var(--a));
    --c:calc(3*var(--a));
    --d:calc(0.375*var(--a));
    --f:calc(0.25*var(--a));
    --my-bg-color:#101642;
    --my-bg-darker:#12193E;
    --my-bg-darkest:#0C1027;

}
body{
    font-family: 'Cabin', sans-serif;
    background-color: var(--my-bg-darkest);
    color: wheat;
}

a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:425px){
    h4{
        font-size: 11px;
    }
}

/* ==========HEADER============================ */

.my-header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 3fr 1fr 1fr;
    width: 93%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    position: sticky;
    top: 5px;
    z-index: 3;
    background-color: var(--my-bg-darkest);
    box-shadow: 0px 0px 5px currentColor;
}

div.my-logo, div.my-headshot {
    width: var(--a);
    height: var(--a);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    

}
div.my-logo img, div.my-headshot img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--my-bg-darker);
    object-fit:cover;
    object-position: 56% 10%;
    background-color: var(--my-bg-color);

}

.my-header .my-title{
    height: var(--a);
    width: var(--b);
    font-size: 30px;
    cursor: pointer;

}

.my-header .my-fav{
    height: var(--a);
    width: var(--c);
    font-size: 20px;
    padding-top: 22px;
    cursor: pointer;

}

.my-header .my-search {
    margin: auto;
    position: relative;
    color: white;
    cursor: pointer;

}
.my-header .my-search .fa-search {
    position: absolute;
    top: 9.4px;
    left: 8px;
    font-size: 13px;
}
.my-header .my-search .fa-microphone {
    position: absolute;
    top: 7px;
    right: 9px;
    font-size: 13px;
}
.my-header .my-search input{
    border-radius: 10px;
    padding:5px 25px 5px 25px;
    background-color: var(--my-bg-darker);
    color: white;

}
.my-header .my-search input::placeholder{
    color: white;
    font-size: 13px;
}


.my-header .my-search input.placeicon{
    font-family: fontawesome;
}

.my-header .my-bell{
    margin: auto;
    position: relative;
    cursor: pointer;

}
.my-header .my-bell .fa-bell{
    font-size: 25px;
}
.my-header .my-bell::before{
    content:'';
    display: block;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    top: 2px;
}

@media (max-width:768px){
    :root{
        --a:60px;
        --b:calc(2*var(--a));
        --c:calc(3*var(--a));

    }
    .my-header .my-title{
        padding-top: 10px;
        padding-left: 7px;
        font-size: 18px;
    }
    .my-header .my-fav{
        font-size: 16px;
    }
    .my-header .my-search {
        margin-left:-33px;
    }
}

@media (max-width:425px){

    .my-header{
        width: 100%;
        grid-template-columns: 1fr 2fr 3fr 3fr 1fr 1fr;

    }
    .my-header .my-title{
        display: none;
    }
    .my-header .my-fav{
        display: none;
    }
    .my-header .my-search{
        margin-left: 22px;
    }
    .my-header .my-search input.my-search-bar{
        width: 210px;
    }
    

    .my-header .my-headshot{
        display: none;
    }
    .my-header .my-bell {
        margin-left: 32px;
    }
}

@media (max-width:375px){
    .my-header .my-search input.my-search-bar{
        width: 150px;
    }
    
    .my-header .my-bell{
        margin-left: 20px;
    }
}
/*======================= MAIN=================== */

main{
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 4.8fr 7.2fr;
    grid-template-areas: 
    "my-cold-jumbo my-similar-art"
    "my-list-songs my-recent-play";
    height: 1000px;
    grid-gap: 10px;
    margin-bottom: 60px;
}
@media only screen and (max-width:425px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 2.4fr 3.6fr 2.4fr 3.6fr;
        grid-template-areas: 
        "my-cold-jumbo"
        "my-list-songs"
        "my-similar-art"
        
        "my-recent-play";
        height: 1835px;
    }
}
/* =====jumbotron========== */
.my-cold-jumbo{
    grid-area: my-cold-jumbo;
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: 4.8fr 7.2fr;
    grid-template-rows: 2.4fr 0.6fr 3fr 3fr 3fr;
    grid-template-areas: 
    "my-cold-pic my-cold-title"
    "my-cold-pic my-cold-subtitle"
    "my-cold-pic my-col-para"
    "my-cold-pic my-cold-btn"
    "my-cold-pic my-cold-list"
    ;
}
.my-cold-jumbo p{
    color: grey;
    font-size: 11px;
}
@media only screen and (max-width:768px) {
.my-cold-jumbo p{
    font-size: 9px;
}
}
@media only screen and (max-width:425px) {
    .my-cold-jumbo p{
        font-size: 6px;
    }
    }
.my-cold-pic{
    grid-area: my-cold-pic;
    /* border: 1px solid white; */
    background: url(images/popular/coldplay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.my-cold-title{
    grid-area: my-cold-title;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;

}
.my-cold-subtitle{
    grid-area: my-cold-subtitle;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    padding: 0px 20px;
    


}
.my-col-para{
    grid-area: my-col-para;
    /* border: 1px solid white; */
    padding: 5px 20px;


}
.my-cold-btn{
    grid-area: my-cold-btn;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 20px;


}
.my-cold-btn p{
    font-size: 12px;
    color: white;
}

.my-cold-btn .play-all{
    /* border: 1px solid #A941D6; */
    background:linear-gradient(#A941D6,#4829B6);
    border-radius: 2px;
    padding: 10px 30px;
    margin-right: 30px;
}

.my-cold-btn .follow{
    padding: 10px 30px;

}
@media only screen and (max-width:425px){
    .my-cold-btn .play-all{
        padding: 2px 8px;
    }
    .my-cold-btn .follow{
        padding: 2px 8px;
    
    }
    .my-cold-btn p{
        font-size: 10px;
    }
}
.my-cold-list{
    grid-area: my-cold-list;
    /* border: 1px solid white; */
    padding: 0px 20px;

}
.my-cold-list p{
    word-spacing: 2px;
    padding-top: 5px;
    color: white;
}

/* ======similar artists============ */
.my-similar-art{
    grid-area: my-similar-art;
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 10fr;
    grid-template-areas: 
    "my-sim-head"
    "my-sim-content";

}
.my-similar-art p{
    color: grey;
    font-size: 11px;
}

.my-sim-head{
    grid-area: my-sim-head;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid white; */
    padding-bottom: 20px;
}
.my-sim-title{
    font-weight: bold;
}

.my-sim-content{
    grid-area: my-sim-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 1px solid white; */
    grid-gap: 10px;
}
.my-sim-content .my-sim-cards{
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-areas: 
    "my-sim-c-cover my-sim-c-album my-sim-c-icon"
    "my-sim-c-cover my-sim-c-date my-sim-c-time";
    /* border: 1px solid blueviolet; */
}
.my-sim-content .my-sim-cards .my-sim-c-cover{

    grid-area: my-sim-c-cover;
    /* border: 1px dashed yellow; */
    background: url(images/latestAlbum.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 87px;
    height: 97px;
    margin: 0px auto;
}

.my-sim-c-cover img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 2px;
}
.my-sim-content .my-sim-cards .my-sim-c-album{
    grid-area: my-sim-c-album;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 15px;
    /* border: 1px dashed yellow; */


}
.my-sim-content .my-sim-cards .my-sim-c-date{
    grid-area: my-sim-c-date;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 12px;
    padding-top: 3px;
    font-weight: lighter;
    /* font-size: 12px; */
    color: grey;
    /* border: 1px dashed yellow; */


}
.my-sim-content .my-sim-cards .my-sim-c-icon{
    grid-area: my-sim-c-icon;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding-left: 3px;
    font-size: 12px; */
    color: grey;
    /* border: 1px dashed yellow; */


}
.my-toggle {
    position: relative;
    display: inline-block;
}
.my-toggle:hover .dropdown-content {
    display: block;
}
.dropbtn:hover{
    color: rgb(119, 252, 119);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f981;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  

.my-sim-content .my-sim-cards .my-sim-c-time{
    grid-area: my-sim-c-time;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding-left: 3px;
    font-size: 12px; */
    color: grey;
    /* border: 1px dashed yellow; */

}
/* =====list of songs============== */
.my-list-songs{
    grid-area: my-list-songs;
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;

}
.my-list-card{
    cursor: pointer;
    display: grid;
    /* border: 1px dashed white; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
    grid-template-areas: 
    "my-list-num my-list-alb my-list-song my-list-love my-list-plus"
    "my-list-num my-list-alb my-list-art my-list-love my-list-plus";
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 2px;
}
.my-list-card p{
    color: grey;
    font-size: 11px;
}

.my-list-num{
    grid-area: my-list-num;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;

}
.my-list-alb{
    grid-area: my-list-alb;
    /* border: 1px solid white; */
    background: url(images/latestAlbum.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    margin: 5px auto;
    display: flex;

}
.my-list-alb:hover .my-on-hover-display{
    display: flex;
    align-items: center;
    /* margin: 0px auto; */
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/latestAlbum.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
}

.my-on-hover-display{
    display: none;
}
.my-on-hover-display .fas{
    margin: 0px auto;
}
.my-list-song{
    grid-area: my-list-song;
    /* border: 1px solid white; */
    padding-left: 10px;
    padding-bottom: 3px;
    display: flex;
    align-items: flex-end;
}
.my-list-art{
    grid-area: my-list-art;
    /* border: 1px solid white; */
    padding-left: 10px;
    padding-top: 3px;
}
.my-list-love{
    /* border: 1px solid white; */
    grid-area:my-list-love;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.my-list-plus
{
    grid-area: my-list-plus;
    /* border: 1px solid white; */
    display: grid;
    justify-content: center;
    align-items: center;

}
/* ========recently played=========== */
.my-recent-play{
    grid-area: my-recent-play;
    /* border: 3px solid green; */
    display: grid;
    grid-template-rows: 2.4fr 9.6fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "my-recent-head"
    "my-recent-content";
}
.my-recent-play p{
    font-size: 11px;
    color: grey;
}
.my-recent-head{
    grid-area: my-recent-head;
    /* border: 1px dashed white; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}
 /* .my-rec-title{
    font-weight: bold;
}  */

.my-recent-content{
    grid-area: my-recent-content;
    /* border: 1px dashed white; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}
.my-r-card{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr 7fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "my-r-num my-r-cov my-r-song my-r-love"
    "my-r-num my-r-cov my-r-art my-r-love";
    /* border: 1px dashed blueviolet; */
    padding: 10px 0;
}
.my-r-num{
    grid-area: my-r-num;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}
.my-r-cov{
    grid-area: my-r-cov;
    /* border: 1px solid yellow; */
    background: url(images/latestAlbum.jpg);
    background-size: 100% 100%;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    margin: 5px auto;

}
.my-r-cov:hover .my-on-hover-display{
    display: flex;
    align-items: center;
    /* margin: 0px auto; */
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/latestAlbum.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
}

.my-on-hover-display{
    display: none;
}
.my-on-hover-display .fas{
    margin: 0px auto;
}
.my-r-song{
    grid-area: my-r-song;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 3px;

}
.my-r-art{
    grid-area: my-r-art;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 3px;
}
.my-r-love{
    grid-area: my-r-love;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-dropdown ul {
    list-style: none;
    width: 100%;

}
.my-dropdown ul li{
    /* padding: 1rem 1rem; */
    /* min-height: 30px; */
    margin: 5px;
    background-color: var(--my-bg-darkest);
    border-radius: 15px;
    visibility: visible;
}
.my-dropdown ul li .my-dr-single{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "my-dr-num my-dr-cov my-dr-song my-dr-love"
    "my-dr-num my-dr-cov my-dr-alb my-dr-love";
    /* min-height: 30px; */
}
.my-dropdown ul li .my-dr-single .my-dr-num{
    grid-area: my-dr-num;
    /* min-height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-dropdown ul li .my-dr-single .my-dr-cov{
    grid-area: my-dr-cov;
    /* min-height: 30px; */
}
.my-dropdown ul li .my-dr-single .my-dr-cov img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.my-dropdown ul li .my-dr-single .my-dr-song{
    grid-area: my-dr-song;
    /* min-height: 30px; */
    /* font-size: 10px;
    padding-left: 2px;
    padding-bottom: 2px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;



}
.my-dropdown ul li .my-dr-single .my-dr-love{
    grid-area: my-dr-love;
    /* min-height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 15px; */



}
.my-dropdown ul li .my-dr-single .my-dr-alb{
    grid-area: my-dr-alb;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 2px;
    padding-left: 2px; */
}
@media only screen and (max-width:768px){
 h2{
    font-size: 20px;
 }   
}
/* ===music player============== */
.my-player{
    width:95%;
    height: 50px;
    margin: 10px auto;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "my-pl-header my-pl-main my-pl-footer";
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 10px;
    position: fixed;
    bottom: 0px;
    display: none;
}
.my-pl-header{
    grid-area: my-pl-header;
    display: grid;
    grid-template-columns: 4fr 5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "my-pl-cover my-pl-song my-pl-love my-pl-dont";

}
.my-pl-cover{
    grid-area: my-pl-cover;
    background: url(images/footer/1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.my-pl-song{
    grid-area: my-pl-song;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "my-pl-song-title"
                        "my-pl-song-album";

}
.my-pl-song-title{
    grid-area: my-pl-song-title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding-left: 10px;
}
.my-pl-song-album{
    grid-area: my-pl-song-album;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 8px;
    padding-left: 10px;

    
}
.my-pl-love{
    grid-area: my-pl-love;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 4px;

}
.my-pl-dont{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: my-pl-dont;
    font-size: 12px;
    margin-right: 4px;

}


.my-pl-main{
    grid-area: my-pl-main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "my-pl-buttons"
                        "my-pl-seekTime";

}
.my-pl-buttons{
    grid-area: my-pl-buttons;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.my-pl-buttons div{
    margin-left: 30px;
    font-size: 11px;
}




.my-pl-seekTime{
    grid-area: my-pl-seekTime;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    font-size: 12px;
}
.my-pl-start{
    display: flex;
    align-items: center;
}

.my-pl-seek{
    margin-top: 10px;
    padding-top: 0px;
    height: 4px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.322);
    position: relative;
    display: flex;
    align-items: center;

}

.my-pl-fill {
    height: 3.6px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.712);
}
.my-pl-handle{
    width: 8px;
    height:8px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    left: 60%;
}
.my-pl-end{
    display: flex;
    align-items: center;
    margin-left: 5px;

}
.my-pl-footer{
    grid-area: my-pl-footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"my-pl-list my-pl-laptop my-pl-volume my-pl-seek my-pl-expand";
}
.my-pl-footer .fas{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.my-pl-list{
    display: flex;
    align-items: center;
    grid-area: my-pl-list;
}
.my-pl-laptop{
    display: flex;
    align-items: center;
    grid-area: my-pl-laptop;
}
.my-pl-volume{
    display: flex;
    align-items: center;
    grid-area: my-pl-volume;
}


.my-pl-vol-seek{
    padding-top: 0px;
    margin-top: 18px;
    height: 4px;
    width: 70%;
    border: 1px solid rgba(255, 255, 255, 0.322);
    position: relative;
    display: flex;
    align-items: center;

}

.my-pl-vol-fill {
    height: 3.6px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.712);
}
.my-pl-vol-handle{
    width: 8px;
    height:8px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    left: 60%;
}
/* .my-pl-seek{
    grid-area: my-pl-seek;
     
}*/
.my-pl-expand{
    display: flex;
    align-items: center;
    grid-area: my-pl-expand;

}

@media only screen and (max-width:425px){
    .my-player{
        grid-template-columns: 2fr 6fr 4fr;
    }
    .my-pl-header{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "my-pl-song";
    }
    .my-pl-header .my-pl-cover{
        display: none;
    }
    .my-pl-header .my-pl-love{
        display: none;
    }
    .my-pl-header .my-pl-dont{
        display: none;
    }
    .my-pl-footer{
        display: grid;
        grid-template-columns: 10fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "my-pl-vol-seek my-pl-volume";

    }
    .my-pl-footer .my-pl-vol-seek{
        left: 12px;
    }
    .my-pl-footer .my-pl-list{
        display: none;
    }
    .my-pl-footer .my-pl-laptop{
        display: none;
    }
    .my-pl-footer .my-pl-expand{
        display: none;
    }
}