/*
font-family: 'Cabin', sans-serif; 
 */


 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --a:80px;
    --b:calc(2*var(--a));
    --c:calc(3*var(--a));
    --d:calc(0.375*var(--a));
    --f:calc(0.25*var(--a));
    --my-bg-color:#101642;
    --my-bg-darker:#12193E;
    --my-bg-darkest:#0C1027;

}
body{
    font-family: 'Cabin', sans-serif;
    background-color: var(--my-bg-darkest);
    color: wheat;
}

a{
    text-decoration: none;
    color: white;
}

/* ==========HEADER============================ */

.my-header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 3fr 1fr 1fr;
    width: 93%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    position: sticky;
    top: 5px;
    z-index: 3;
    background-color: var(--my-bg-darkest);
    box-shadow: 0px 0px 5px currentColor;
}

div.my-logo, div.my-headshot {
    width: var(--a);
    height: var(--a);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    

}
div.my-logo img, div.my-headshot img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--my-bg-darker);
    object-fit:cover;
    object-position: 56% 10%;
    background-color: var(--my-bg-color);

}

.my-header .my-title{
    height: var(--a);
    width: var(--b);
    font-size: 30px;
    cursor: pointer;

}

.my-header .my-fav{
    height: var(--a);
    width: var(--c);
    font-size: 20px;
    padding-top: 22px;
    cursor: pointer;

}

.my-header .my-search {
    margin: auto;
    position: relative;
    color: white;
    cursor: pointer;

}
.my-header .my-search .fa-search {
    position: absolute;
    top: 9.4px;
    left: 8px;
    font-size: 13px;
}
.my-header .my-search .fa-microphone {
    position: absolute;
    top: 7px;
    right: 9px;
    font-size: 13px;
}
.my-header .my-search input{
    border-radius: 10px;
    padding:5px 25px 5px 25px;
    background-color: var(--my-bg-darker);
    color: white;

}
.my-header .my-search input::placeholder{
    color: white;
    font-size: 13px;
}


.my-header .my-search input.placeicon{
    font-family: fontawesome;
}

.my-header .my-bell{
    margin: auto;
    position: relative;
    cursor: pointer;

}
.my-header .my-bell .fa-bell{
    font-size: 25px;
}
.my-header .my-bell::before{
    content:'';
    display: block;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    top: 2px;
}

@media (max-width:768px){
    :root{
        --a:60px;
        --b:calc(2*var(--a));
        --c:calc(3*var(--a));

    }
    .my-header .my-title{
        padding-top: 10px;
        padding-left: 7px;
        font-size: 18px;
    }
    .my-header .my-fav{
        font-size: 16px;
    }
    .my-header .my-search {
        margin-left:-33px;
    }
}

@media (max-width:425px){

    .my-header{
        width: 100%;
        grid-template-columns: 1fr 2fr 3fr 3fr 1fr 1fr;

    }
    .my-header .my-title{
        display: none;
    }
    .my-header .my-fav{
        display: none;
    }
    .my-header .my-search{
        margin-left: 22px;
    }
    .my-header .my-search input.my-search-bar{
        width: 210px;
    }
    

    .my-header .my-headshot{
        display: none;
    }
    .my-header .my-bell {
        margin-left: 32px;
    }
}

@media (max-width:375px){
    .my-header .my-search input.my-search-bar{
        width: 150px;
    }
    
    .my-header .my-bell{
        margin-left: 20px;
    }
}
/*======================= MAIN=================== */
main{
    width: 93%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 2.4fr 2.4fr 0.9fr 0.9fr 1.8fr 1.8fr 1.8fr;
    grid-template-areas: 
    "my-posters my-queue"
    "my-latest my-queue"
    "my-popular my-queue"
    "my-station my-queue"
    "my-genre my-queue"
    "my-english my-queue"
    "my-hindi my-queue" ;
    margin: 20px auto;
    grid-gap: 20px;
    border: 3px dashed red;
    
}
.my-posters{
    background-color: #aaa;
    grid-area: my-posters;
    border: 3px dotted green;
}

.my-queue{
    background-color: transparent;
    grid-area: my-queue;
    border: 3px dotted green;

}

.my-latest{
    background-color:transparent;
    grid-area: my-latest;
    border: 3px dotted green;

}

.my-popular{
    background-color: transparent;
    grid-area: my-popular;
    border: 3px dotted green;

}
.my-station{
    grid-area: my-station;
    border: 3px dotted green;

}

.my-genre{
    background-color: transparent;
    grid-area: my-genre;
    border: 3px dotted green;

}

.my-english{
    background-color: transparent;
    grid-area: my-english;
    border: 3px dotted green;

}

.my-hindi{
    background-color: transparent;
    grid-area: my-hindi;
    border: 3px dotted green;

}

@media only screen and (max-width:425px){
    main{
        grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr 1.5fr 0.7fr 0.7fr 1fr 1fr 1fr;
    grid-template-areas: 
    "my-posters"
    "my-queue"
    "my-latest"
    "my-popular"
    "my-station"
    "my-genre"
    "my-english"
    "my-hindi" ;
    }
}

/* ========posters========= */
.my-posters{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px auto;

}

.my-posters .my-poster-img{
    width: 30%;
    height: 200px;
    cursor: pointer;
}

.my-posters .my-poster-img img{
    width: 100%;
    height: 100%;
    border: 1px solid var(--my-bg-darker);
    object-fit:cover;
    object-position: 56% 10%;
    background-color: var(--my-bg-color);
    transition: all 1.4s ease;
    position: relative;
    border-radius: 15px;
}

.my-posters .my-poster-img img:hover{
    transform: scale(1.2);
    z-index:2 ;
}

@media (max-width:768px){
    .my-posters .my-poster-img{
        width: 30%;
        height: 150px;
    }
}

@media (max-width:425px){
    /* .my-posters .my-poster-img{
        height: 100px;
    } */
    /* .my-posters{
        margin-left: 22px;
    } */
    /* .my-posters .last-child{
        display: none;
    } */
}

/* =====QUEUE========== */

.my-queue{
    display: grid;
    grid-template-rows: 0.1fr 10fr;
    grid-template-columns: 1fr;
    grid-template-areas: "my-queue-heading"
    "my-dropdown";
}
.my-queue .my-queue-heading{
    grid-area: my-queue-heading;
    display: grid;
    width: 100%;
    padding: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "my-q-title my-toggle";
}
.my-queue .my-queue-heading .my-q-title{
    grid-area: my-q-title;
    margin-left: 3px;
}
.my-queue .my-queue-heading .my-toggle{
    grid-area: my-toggle;
    margin: 5px;
    font-size: 10px;
    cursor: pointer;
}
.dropbtn{
    color: rgb(119, 252, 119);
}

.my-toggle {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f981;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .my-toggle:hover .dropdown-content {
    display: block;
  }
  
  
/* ===========list of songs======= */
.my-queue .my-dropdown{
    cursor: pointer;
    grid-area: my-dropdown;
    
}
.my-dropdown ul {
    list-style: none;
    width: 100%;

}
.my-dropdown ul li{
    margin: 5px;
    background-color: var(--my-bg-darkest);
    border-radius: 15px;
    visibility: visible;
}
.my-dropdown ul li .my-dr-single{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "my-dr-num my-dr-cov my-dr-song my-dr-love"
    "my-dr-num my-dr-cov my-dr-alb my-dr-love";
}
.my-dropdown ul li .my-dr-single .my-dr-num{
    grid-area: my-dr-num;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-dropdown ul li .my-dr-single .my-dr-cov{
    grid-area: my-dr-cov;
}
.my-dr-cov{
    grid-area: my-list-alb;
    /* border: 1px solid white; */
    background: url(images/latestAlbum.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    margin: 5px auto;
    display: flex;

}
.music-action:hover .my-on-hover-display{
    display: flex;
    align-items: center;
    /* margin: 0px auto; */
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/latestAlbum.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
}

.my-on-hover-display{
    display: none;
}
.my-on-hover-display .fas{
    margin: 0px auto;
}

.my-dropdown ul li .my-dr-single .my-dr-song{
    grid-area: my-dr-song;
    font-size: 10px;
    padding-left: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;



}
.my-dropdown ul li .my-dr-single .my-dr-love{
    grid-area: my-dr-love;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;



}
.my-dropdown ul li .my-dr-single .my-dr-alb{
    grid-area: my-dr-alb;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2px;
    padding-left: 2px;
}

/* ===============LATEST RELEASES============= */

main .my-latest{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "my-latest-heading"
                        "my-latest-content";
}

main .my-latest .my-latest-heading{
    grid-area: my-latest-heading;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;

}

main .my-latest .my-latest-content{
    grid-area: my-latest-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.my-latest-content .my-latest-cards{
    cursor: pointer;
    padding-left: 8px;
    padding-bottom: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-areas: 
    "my-l-c-cover my-l-c-album my-l-c-icon"
    "my-l-c-cover my-l-c-date my-l-c-time";
}
.my-latest-content .my-latest-cards .my-l-c-cover{

    grid-area: my-l-c-cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.my-l-c-cover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.my-latest-content .my-latest-cards .my-l-c-album{
    grid-area: my-l-c-album;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 12px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 15px;

}
.my-latest-content .my-latest-cards .my-l-c-date{
    grid-area: my-l-c-date;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 12px;
    padding-top: 3px;
    font-weight: lighter;
    font-size: 12px;
    color: grey;

}
.my-latest-content .my-latest-cards .my-l-c-icon{
    grid-area: my-l-c-icon;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 3px;
    font-size: 12px;
    color: grey;

}

.my-latest-content .my-latest-cards .my-l-c-time{
    grid-area: my-l-c-time;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3px;
    font-size: 12px;
    color: grey;
}
@media only screen and (max-width:428px){
    .my-latest-content .my-latest-cards .my-l-c-date{
        font-size: 9px;
    }
}
/* ========POPULAR ARTISTS================= */
main .my-popular{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "my-pop-head"
    "my-pop-cont";
    background-color: transparent;
}

.my-pop-head{
    grid-area: my-pop-head;
    color: white;
    font-weight: bold;
    padding: 8px;

}

.my-pop-cont{
    grid-area: my-pop-cont;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.my-pop-card{
    margin: 10px 0px;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "my-p-art"
                        "my-pop-names";
}
/* .my-pop-cont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */
.my-p-art-ed{
    background-image: url(images/popular/edSheeran.jpg);
    border-radius: 50%;
    background-size: cover;

}
.my-p-art-cold{
    background-image: url(images/popular/coldplay.jpg);
    border-radius: 50%;
    background-size: cover;
}
.my-p-art-zayn{
    background-image: url(images/popular/zayn.jpg);
    border-radius: 50%;
    background-size: cover;
}
.my-p-art-puth{
    background-image: url(images/popular/charliePuth.jpg);
    border-radius: 50%;
    background-size: cover;
}
.my-p-art-imag{
    background-image: url(images/popular/imagineDragons.jpg);
    border-radius: 50%;
    background-size: cover;
}
.my-p-art-mars{
    background-image: url(images/popular/brunoMars.jpg);
    border-radius: 50%;
    background-size: cover;
}
.my-p-art{
    grid-area: my-p-art;
    padding: 4px;
    cursor: pointer;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
@media only screen and (max-width:768px){
    .my-p-art{
        width: 80px;
        height: 80px;
    }
}
@media only screen and (max-width:425px){
    .my-p-art{
        width: 50px;
        height: 50px;
    }
}
.my-pop-names{
    grid-area: my-pop-names;
    font-size: 1.3vw;
    text-align: center;
}
/* ========STATION============== */
.my-station{
    font-size: 10px;
    padding: 15px 15px;
    background-color:var(--my-bg-color);
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "my-st-cover my-st-love my-st-retro my-st-chill my-st-workout my-st-rock my-st-pop";
    align-items: center;
}

.my-st-cover{
    grid-area: my-st-cover;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/station.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;
    box-shadow: 1px 1px 10px orange;
}

.my-st-love{
    grid-area: my-st-love;
    border-radius: 50%;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/love.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;

}

.my-st-retro{
    grid-area: my-st-retro;
    border-radius: 50%;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/retro.jpg');;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;

}

.my-st-chill{
    grid-area: my-st-chill;
    border-radius: 50%;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/chill.jpg');;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;
}
.my-st-workout{
    grid-area: my-st-workout;
    border-radius: 50%;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/workout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;

}
.my-st-rock{
    grid-area: my-st-rock;
    border-radius: 50%;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/rock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;

}
.my-st-pop{
    grid-area: my-st-pop;
    border-radius: 50%;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/stations/pop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;

}
.my-station div{
    width: 110px;
    height: 110px;
}
@media only screen and (max-width:768px){
    .my-station div{
        width: 80px;
        height: 80px;
    }
    }
@media only screen and (max-width:425px){
    .my-station div{
        width: 50px;
        height: 50px;
    }
    }
/* ========GENRE=============== */

.my-genre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    background-color: transparent;

}

.my-genre div{
    width: 250px;
    height: 180px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inner {
    overflow: hidden;
    position: relative;
}

.inner img {
    object-fit: cover;
    transition: all 1.4s ease;
}

.inner img:hover {
    transform: scale(1.5);
    z-index:1 ;
}
.inner p{
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

 

.my-genre .my-g-electronic{
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/genre/electronic.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.my-genre .my-g-roadTrip {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) ) ,
        url('images/genre/roadtrip.jpg');
    background-size: cover;
    background-repeat: no-repeat;

} 


/* ====LATEST ENGLISH AND LATEST HINDI */
.my-english,.my-hindi{
    display: grid;
    grid-template-rows: 0.3fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "my-lat-head"
                        "my-lat-content";
    background-color: transparent;
    
}

.my-lat-head{
    grid-area: my-lat-head;
    font-weight: bold;
    margin-bottom: 5px;

}

.my-lat-content{
    grid-area: my-lat-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;

    
}

.my-lat-card{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 0.1fr 0.1fr;
    grid-template-areas: "my-lat-cover"
                        "my-lat-title"
                        "my-lat-time";
}
.my-lat-cover{
    width: 140px;
    height: 150px;
    grid-area: my-lat-cover;

}
@media only screen and (max-width:768px){
    .my-lat-cover{
        width: 100px;
        height: 110px;
    }   
}
@media only screen and (max-width:425px){
    .my-lat-cover{
        width: 70px;
        height: 80px;
    }   
}
.my-lat-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.my-lat-title{
    grid-area: my-lat-title;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-lat-time{
    grid-area: my-lat-time;
    color: grey;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}
@media only screen and (max-width:425px){
    .my-lat-time{
        font-size: 7px;
        align-items: flex-start;
    }
}
/* ===music player============== */
.my-player{
    width:95%;
    height: 50px;
    margin: 10px auto;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "my-pl-header my-pl-main my-pl-footer";
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 10px;
    position: fixed;
    bottom: 0px;
    display: none;
}
.my-pl-header{
    grid-area: my-pl-header;
    display: grid;
    grid-template-columns: 4fr 5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "my-pl-cover my-pl-song my-pl-love my-pl-dont";

}
.my-pl-cover{
    grid-area: my-pl-cover;
    background: url(images/footer/1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.my-pl-song{
    grid-area: my-pl-song;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "my-pl-song-title"
                        "my-pl-song-album";

}
.my-pl-song-title{
    grid-area: my-pl-song-title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding-left: 10px;
}
.my-pl-song-album{
    grid-area: my-pl-song-album;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 8px;
    padding-left: 10px;

    
}
.my-pl-love{
    grid-area: my-pl-love;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 4px;

}
.my-pl-dont{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: my-pl-dont;
    font-size: 12px;
    margin-right: 4px;

}


.my-pl-main{
    grid-area: my-pl-main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "my-pl-buttons"
                        "my-pl-seekTime";

}
.my-pl-buttons{
    grid-area: my-pl-buttons;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.my-pl-buttons div{
    margin-left: 30px;
    font-size: 11px;
}




.my-pl-seekTime{
    grid-area: my-pl-seekTime;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    font-size: 12px;
}
.my-pl-start{
    display: flex;
    align-items: center;
}

.my-pl-seek{
    margin-top: 10px;
    padding-top: 0px;
    height: 4px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.322);
    position: relative;
    display: flex;
    align-items: center;

}

.my-pl-fill {
    height: 3.6px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.712);
}
.my-pl-handle{
    width: 8px;
    height:8px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    left: 60%;
}
.my-pl-end{
    display: flex;
    align-items: center;
    margin-left: 5px;

}
.my-pl-footer{
    grid-area: my-pl-footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"my-pl-list my-pl-laptop my-pl-volume my-pl-seek my-pl-expand";
}
.my-pl-footer .fas{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.my-pl-list{
    display: flex;
    align-items: center;
    grid-area: my-pl-list;
}
.my-pl-laptop{
    display: flex;
    align-items: center;
    grid-area: my-pl-laptop;
}
.my-pl-volume{
    display: flex;
    align-items: center;
    grid-area: my-pl-volume;
}


.my-pl-vol-seek{
    padding-top: 0px;
    margin-top: 18px;
    height: 4px;
    width: 70%;
    border: 1px solid rgba(255, 255, 255, 0.322);
    position: relative;
    display: flex;
    align-items: center;

}

.my-pl-vol-fill {
    height: 3.6px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.712);
}
.my-pl-vol-handle{
    width: 8px;
    height:8px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    left: 60%;
}
/* .my-pl-seek{
    grid-area: my-pl-seek;
     
}*/
.my-pl-expand{
    display: flex;
    align-items: center;
    grid-area: my-pl-expand;

}
/* add them at their positions */
